<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title || 'Not Found – Vaanya Clinic' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/css/404.css">
    
  </head>
  <body>
    <div class="box">
      <h1>404</h1>
      <p>Page not found.</p>
      <a href="/">← Go to Home</a>
    </div>
  </body>
</html>
