<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

  <!-- FONT AWESOME (MUST) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/results.css">
  <link rel="stylesheet" href="/css/footer.css">
  

</head>

<body>
  <%- include('partials/header') %>

    <section class="htp-results">
      <div class="htp-results-container">
        <h3 class="main-result-title">EVA CLINIC Result</h3>

        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/1RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/1RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 4–5 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>

        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/2RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/2RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 4–6 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>

        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/3RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/3RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 6–9 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/4RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/4RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 5-7 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/5RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/5RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 4–6 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/6RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/6RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 6–9 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/7RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/7RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 4–7 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/8RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/8RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 6–9 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/9RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/9RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 4–7 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/10RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/10RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 5– 7Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>
        <div class="result-card">
          <h3>Hair Transplant Result</h3>
          <div class="result-images">
            <div class="result-img before">
              <img src="/img/before after/11RB.png" alt="Before">
              <p>Before</p>
            </div>
            <div class="result-arrow"></div>
            <div class="result-img after">
              <img src="/img/before after/11RA.png" alt="After">
              <p>After</p>
            </div>
          </div>
          <p class="result-duration">
            After 5–8 Months<br>
            <span>www.evacliniclko.com</span>
          </p>
        </div>

      </div>
    </section>



    <%- include('partials/footer') %>
</body>

</html>